In [1]:
mon_tuple=(1,"deux",3,4,5) 
print(type(mon_tuple)) 
print(mon_tuple)

<class 'tuple'>
(1, 'deux', 3, 4, 5)

In [2]:
mon_tuple[0]

1

In [3]:
mon_tuple[2] = 2

TypeError: 'tuple' object does not support item assignment

In [9]:
(a,b) = (1,2)
print(a, b)

1 2

In [10]:
a, b = 3, 4 
print(a, b)

3 4

In [11]:
a=7

In [12]:
print(a, b)

7 4

In [1]:
notes_eleves = { 
  "Anthony": 15, 
  "Marie": 12, 
  "Julien": "absent", 
  "Mohammad": 10, 
  "Brahiman": 17 
}  
print(notes_eleves)

{'Anthony': 15, 'Marie': 12, 'Julien': 'absent', 'Mohammad': 10, 'Brahiman': 17}

In [2]:
dir(notes_eleves)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [7]:
notes_eleves.pop

In [18]:
print(notes_eleves["Anthony"])

15

In [19]:
notes_eleves["Julien"] = 14
print(notes_eleves["Julien"])

14

In [21]:
notes_eleves["Rafik"] = "C'est le formateur"
print(notes_eleves)

{'Anthony': 15, 'Marie': 12, 'Julien': 14, 'Mohammad': 9, 'Brahiman': 17, 'Rafik': "C'est le formateur"}

In [24]:
print(notes_eleves.keys())

dict_keys(['Anthony', 'Marie', 'Julien', 'Mohammad', 'Brahiman', 'Rafik'])

In [26]:
for i in notes_eleves.values(): 
    print(i)

15
12
14
9
17
C'est le formateur

In [27]:
print(notes_eleves.items())

dict_items([('Anthony', 15), ('Marie', 12), ('Julien', 14), ('Mohammad', 9), ('Brahiman', 17), ('Rafik', "C'est le formateur")])

In [28]:
for i,j in notes_eleves.items(): 
    print(i,j)

Anthony 15
Marie 12
Julien 14
Mohammad 9
Brahiman 17
Rafik C'est le formateur

In [1]:
TotalTTC = 0 
Prix1HT = 18 
TVA = 0.2 
Prix1TTC = Prix1HT*(1+TVA) 
TotalTTC = TotalTTC + Prix1TTC 
Prix2HT = 21 
Prix2TTC = Prix2HT*(1+TVA) 
TotalTTC = TotalTTC + Prix2TTC 
print(TotalTTC)

46.8

In [11]:
def PrixTTC(prixHT): 
    TVA = 0.2 
    return prixHT * (1 + TVA) 
 
Prix1HT = 18 
Prix2HT = 21 
 
TotalTTC = 0 
TotalTTC = TotalTTC + PrixTTC(Prix1HT)  
TotalTTC = TotalTTC + PrixTTC(Prix2HT)  
 
print(TotalTTC)

46.8

In [12]:
def PrixTTC(prixHT, TVA): 
    return prixHT * (1 + TVA)

TotalTTC = 0 
TotalTTC = TotalTTC + PrixTTC(18, 0.2)  
TotalTTC = TotalTTC + PrixTTC(0.4, 21)

print(TotalTTC)

30.4

In [13]:
def PrixTTC(prixHT, TVA): 
    return prixHT * (1 + TVA)
 
TotalTTC = 0 
TotalTTC = TotalTTC + PrixTTC(prixHT=18, TVA=0.2)  
TotalTTC = TotalTTC + PrixTTC(TVA=0.4, prixHT=21)

print(TotalTTC)

51.0

In [9]:
def PrixTTC(PrixHT,TVA=0.2): 
    return PrixHT * (1 + TVA) 
 
# syntaxe utilisant la valeur par défaut 
print(PrixTTC(PrixHT=100))                 # 120 
print(PrixTTC(100))                        # 120 
 
#syntaxe avec une TVA de 10% 
print(PrixTTC(PrixHT=100,TVA=0.1))         # 110 
print(PrixTTC(100,0.1))                    # 110 
print(PrixTTC(100,TVA=0.1))                # 110

120.0
120.0
110.00000000000001
110.00000000000001
110.00000000000001

In [10]:
def test(a): 
    a[0] = 5 
    a[1] = 8 
    print('a : ',a)              # a : [5, 8] 
    return a 
 
b = [1 , 2] 
c = test(b) 
print('b : ',b)              # b : [5, 8] 
print('c : ',c)              # c : [5, 8]

a :  [5, 8]
b :  [5, 8]
c :  [5, 8]

In [15]:
# Calculer le minimum d'une liste 
 
def Minimum(L) : 
    min_courant = L[0] 
    for v in L : 
       if v < min_courant : 
        min_courant = v 
    return min_courant 
    
print( Minimum([4,88,9,-11,-55]) )

-55

In [18]:
# Calculer la durée de remboursement d'un prêt 
def Remboursement(montant_a_rembourser,taux_mensuel,versement) : 
    interets_verses = montant_a_rembourser * taux_mensuel / 100 
    remboursement = versement - interets_verses 
    return (interets_verses, remboursement) 
    
emprunt = 200000 
a_rembourser = emprunt 
versement = 1000 
total_interet = 0 
taux = 0.1 
nb_mois = 0 
 
while (a_rembourser > versement ) :  
    interets, rembou = Remboursement(a_rembourser,taux,versement) 
    total_interet += interets 
    a_rembourser -= rembou 
    nb_mois += 1 
    print(nb_mois, a_rembourser)

nb_mois +=1 # dernier mois 
 
print("Somme empruntée : ",emprunt) 
print("Mensualités     : ",versement) 
print("Nombre de mois  : ", nb_mois) 
print("Intérêts versés : ", int(total_interet)) 
"""
Somme empruntée        : 200000 
Mensualités            : 1000 
Nombre de mois         : 224 
Intérêts versés        : 23254 """

1 199200.0
2 198399.2
3 197597.59920000003
4 196795.19679920003
5 195991.99199599924
6 195187.98398799525
7 194383.17197198325
8 193577.55514395522
9 192771.13269909917
10 191963.90383179826
11 191155.86773563008
12 190347.0236033657
13 189537.37062696906
14 188726.90799759602
15 187915.63490559362
16 187103.5505404992
17 186290.6540910397
18 185476.94474513075
19 184662.4216898759
20 183847.08411156575
21 183030.93119567732
22 182213.962126873
23 181396.17608899987
24 180577.57226508888
25 179758.14983735397
26 178937.9079871913
27 178116.8458951785
28 177294.9627410737
29 176472.25770381477
30 175648.72996151858
31 174824.3786914801
32 173999.20307017156
33 173173.20227324174
34 172346.37547551497
35 171518.7218509905
36 170690.2405728415
37 169860.93081341434
38 169030.79174422775
39 168199.822535972
40 167368.02235850797
41 166535.39038086648
42 165701.92577124733
43 164867.6276970186
44 164032.4953247156
45 163196.5278200403
46 162359.72434786035
47 161522.0840722082
48 160683.6061562804
49 159844.2897624367
50 159004.13405219914
51 158163.13818625134
52 157321.30132443758
53 156478.62262576201
54 155635.10124838777
55 154790.73634963616
56 153945.5270859858
57 153099.4726130718
58 152252.57208568486
59 151404.82465777054
60 150556.22948242832
61 149706.78571191075
62 148856.49249762265
63 148005.34899012026
64 147153.35433911037
65 146300.50769344947
66 145446.8082011429
67 144592.25500934405
68 143736.8472643534
69 142880.58411161773
70 142023.46469572934
71 141165.48816042507
72 140306.6536485855
73 139446.96030223407
74 138586.40726253632
75 137724.99366979886
76 136862.71866346867
77 135999.58138213214
78 135135.58096351428
79 134270.7165444778
80 133404.98726102227
81 132538.3922482833
82 131670.93064053156
83 130802.60157117208
84 129933.40417274325
85 129063.33757691599
86 128192.4009144929
87 127320.59331540739
88 126447.9139087228
89 125574.36182263152
90 124699.93618445414
91 123824.63612063859
92 122948.46075675923
93 122071.40921751599
94 121193.48062673351
95 120314.67410736025
96 119434.9887814676
97 118554.42377024906
98 117672.97819401932
99 116790.65117221334
100 115907.44182338555
101 115023.34926520893
102 114138.37261447414
103 113252.51098708861
104 112365.7634980757
105 111478.12926157378
106 110589.60739083536
107 109700.1969982262
108 108809.89719522442
109 107918.70709241965
110 107026.62579951207
111 106133.65242531158
112 105239.78607773689
113 104345.02586381463
114 103449.37088967845
115 102552.82026056813
116 101655.3730808287
117 100757.02845390952
118 99857.78548236343
119 98957.6432678458
120 98056.60091111364
121 97154.65751202476
122 96251.81216953679
123 95348.06398170632
124 94443.41204568803
125 93537.85545773372
126 92631.39331319145
127 91724.02470650464
128 90815.74873121115
129 89906.56447994236
130 88996.4710444223
131 88085.46751546672
132 87173.55298298219
133 86260.72653596518
134 85346.98726250115
135 84432.33424976365
136 83516.76658401341
137 82600.28335059743
138 81682.88363394802
139 80764.56651758196
140 79845.33108409954
141 78925.17641518364
142 78004.10159159882
143 77082.10569319042
144 76159.1877988836
145 75235.34698668249
146 74310.58233366917
147 73384.89291600283
148 72458.27780891884
149 71530.73608672776
150 70602.26682281449
151 69672.8690896373
152 68742.54195872694
153 67811.28450068567
154 66879.09578518635
155 65945.97488097154
156 65011.92085585251
157 64076.93277670837
158 63141.00970948508
159 62204.150719194564
160 61266.35486991376
161 60327.621224783674
162 59387.948846008454
163 58447.33679485446
164 57505.784131649314
165 56563.289915780966
166 55619.853205696745
167 54675.47305890244
168 53730.14853196134
169 52783.878680493304
170 51836.6625591738
171 50888.49922173297
172 49939.387720954706
173 48989.32710867566
174 48038.316435784334
175 47086.35475222012
176 46133.441106972336
177 45179.574548079305
178 44224.75412262738
179 43268.97887675001
180 42312.24785562676
181 41354.560103482385
182 40395.91466358587
183 39436.31057824945
184 38475.7468888277
185 37514.22263571653
186 36551.73685835225
187 35588.2885952106
188 34623.87688380581
189 33658.50076068962
190 32692.159261450306
191 31724.851420711755
192 30756.576272132468
193 29787.3328484046
194 28817.120181253005
195 27845.93730143426
196 26873.783238735694
197 25900.657021974428
198 24926.557678996403
199 23951.4842366754
200 22975.435720912075
201 21998.41115663299
202 21020.409567789622
203 20041.429977357413
204 19061.47140733477
205 18080.532878742106
206 17098.61341162085
207 16115.71202503247
208 15131.827737057502
209 14146.959564794559
210 13161.106524359353
211 12174.267630883713
212 11186.441898514597
213 10197.628340413112
214 9207.825968753525
215 8217.033794722278
216 7225.250828517001
217 6232.476079345518
218 5238.708555424863
219 4243.947263980288
220 3248.1912112442683
221 2251.4394024555127
222 1253.6908418579683
223 254.94453269982625
Somme empruntée :  200000
Mensualités     :  1000
Nombre de mois  :  224
Intérêts versés :  23254

'\nSomme empruntée        : 200000 \nMensualités            : 1000 \nNombre de mois         : 224 \nIntérêts versés        : 23254 '